

<form nz-form #validateForm="ngForm" (ngSubmit)="submitForm()" nzLayout="horizontal" autocomplete="off">
    <!-- 模态框头部 -->
    <div class="modal-header">
        <div class="modal-title">
            <i class="anticon anticon-medicine-box mr-sm"></i>
            <span *ngIf="entity.id">{{l('Edit')}}</span>
            <span *ngIf="!entity.id">{{l('Create')}}</span>
        </div>
    </div>
    <!-- 模态框内容 -->
    <fieldset>
        <!-- 提示信息 -->
        <!-- <nz-alert nzType="info" nzCloseable [nzShowIcon]="true" nzMessage="l('我想提示点什么内容给你说')"></nz-alert> -->
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="impersonatorUserId">{{l('ImpersonatorUserId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="impersonatorUserId" #impersonatorUserId="ngModel"
                                   [(ngModel)]="entity.impersonatorUserId"
                                   [placeholder]="l('ImpersonatorUserId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="exception">{{l('Exception')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="exception" #exception="ngModel"
                                   [(ngModel)]="entity.exception"
                                   [placeholder]="l('Exception')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="browserInfo">{{l('BrowserInfo')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="browserInfo" #browserInfo="ngModel"
                                   [(ngModel)]="entity.browserInfo"
                                   [placeholder]="l('BrowserInfo')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="clientName">{{l('ClientName')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="clientName" #clientName="ngModel"
                                   [(ngModel)]="entity.clientName"
                                   [placeholder]="l('ClientName')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="clientIpAddress">{{l('ClientIpAddress')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="clientIpAddress" #clientIpAddress="ngModel"
                                   [(ngModel)]="entity.clientIpAddress"
                                   [placeholder]="l('ClientIpAddress')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="executionDuration">{{l('ExecutionDuration')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="executionDuration" #executionDuration="ngModel"
                                   [(ngModel)]="entity.executionDuration"
                                   [placeholder]="l('ExecutionDuration')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="executionTime">{{l('ExecutionTime')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <nz-time-picker name="executionTime" #executionTime="ngModel"
                                            [(ngModel)]="entity.executionTime" ></nz-time-picker>


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tenantId">{{l('TenantId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="tenantId" #tenantId="ngModel"
                                   [(ngModel)]="entity.tenantId"
                                   [placeholder]="l('TenantId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="methodName">{{l('MethodName')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="methodName" #methodName="ngModel"
                                   [(ngModel)]="entity.methodName"
                                   [placeholder]="l('MethodName')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="serviceName">{{l('ServiceName')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="serviceName" #serviceName="ngModel"
                                   [(ngModel)]="entity.serviceName"
                                   [placeholder]="l('ServiceName')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userId">{{l('UserId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="userId" #userId="ngModel"
                                   [(ngModel)]="entity.userId"
                                   [placeholder]="l('UserId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="impersonatorTenantId">{{l('ImpersonatorTenantId')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="impersonatorTenantId" #impersonatorTenantId="ngModel"
                                   [(ngModel)]="entity.impersonatorTenantId"
                                   [placeholder]="l('ImpersonatorTenantId')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="parameters">{{l('Parameters')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="parameters" #parameters="ngModel"
                                   [(ngModel)]="entity.parameters"
                                   [placeholder]="l('Parameters')" >


                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="customData">{{l('CustomData')}}</nz-form-label>
                <nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                            <input nz-input name="customData" #customData="ngModel"
                                   [(ngModel)]="entity.customData"
                                   [placeholder]="l('CustomData')" >


                </nz-form-control>
            </nz-form-item>

    </fieldset>
    <!-- 模态框底部 -->
    <div class="modal-footer">
        <button nz-button [nzType]="'default'" type="button" (click)="close()" [disabled]="saving">
            <i class="anticon anticon-close-circle-o"></i> {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.form.valid|| saving" [nzLoading]="saving">
            <i class="anticon anticon-save" *ngIf="!saving"></i> {{l("Save")}}
        </button>
    </div>
</form>





